:root {
    --bgtop-col-dark: #5f0f7c;
    --bgbottom-col-dark: #282828;
    --msg-receive-col-dark: #282828c7;
    --msg-send-col-dark: #72298dd6;
    --header-footer-input-col-dark: #3c3c3c;
    --text-col-dark: #eaeaeaa1;
    --notifications-col-dark: #587f9b;
    --notifications-text-dark: #c6e2f6;
}

body {
    background: linear-gradient(to bottom, #5f0f7c 15% 15%,#282828 15% 100%);
    color: var(--text-col-dark);
}

.chat-col {
    filter: invert();
}

.chat-col .msg, .chat-col .header, .chat-col footer {
    filter: invert();
}

button{
    color: inherit;
}

.list {
    background-color: var(--header-footer-input-col-dark);
}

.header, .find-chat, .chat-col .text-msg {
    background-color: var(--header-footer-input-col-dark);
}

.chat-send {
    background-color: var(--msg-send-col-dark);
}

.chat-receive {
    background-color: var(--msg-receive-col-dark);
}

.searchbar, .message-input, input {
    background-color: var(--header-footer-input-col-dark);
    color: var(--text-col-dark);
}

.searchbar, .message-input input {
    border: 1px solid var(--text-col-dark);
}

.notifications {
    background-color: var(--notifications-col-dark);
    color: var(--notifications-text-dark);
}

.notifications .fa-bell-slash {
    color: var(--notifications-col-dark)
}

.fa-microphone:active {
    animation-name: recording-dark;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes recording-dark {
    0% {
        color: rgb(255, 171, 171);
        border-radius: 50%;
        background-color: var(--msg-send-col-dark);
        border: .5px solid rgb(255, 171, 171);
    }

    25% {
        color: rgb(255, 96, 96);
        background-color: var(--msg-send-col-dark);
        border: .5px solid rgb(255, 96, 96);
    }

    50% {
        color: red;
        background-color: var(--msg-send-col-dark);
        padding: .6rem;
        border-radius: 50%;
        border: .5px solid red;
    }

    75% {
        color: rgb(255, 96, 96);
        background-color: var(--msg-send-col-dark);
        border: .5px solid rgb(255, 96, 96);
    }

    100% {
        color: rgb(255, 171, 171);
        border-radius: 50%;
        background-color: var(--msg-send-col-dark);
        border: .5px solid rgb(255, 171, 171);
    }
}